flow.json
[
    {
        "id": "2a9757da.00a358",
        "type": "tab",
        "label": "SensorTag WiFi",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76259739.2b009",
        "type": "tab",
        "label": "SmartPlug",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9db9679f.43f6b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1b227b5c.bfe23d",
        "type": "ui_group",
        "z": "",
        "name": "SmartPlug Switch",
        "tab": "d237a06d.7b85",
        "order": 1,
        "disp": true,
        "width": "4"
    },
    {
        "id": "f809ef74.a1c1b",
        "type": "ui_group",
        "z": "",
        "name": "SmartPlug Power Usage Chart",
        "tab": "d237a06d.7b85",
        "order": 2,
        "disp": true,
        "width": "8"
    },
    {
        "id": "80f4c6a4.b4b338",
        "type": "ui_group",
        "z": "",
        "name": "SmartPlug Current Usage Chart",
        "tab": "d237a06d.7b85",
        "order": 3,
        "disp": true,
        "width": "8"
    },
    {
        "id": "d237a06d.7b85",
        "type": "ui_tab",
        "z": "",
        "name": "SmartPlug",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "5980bd4a.72497c",
        "type": "http request",
        "z": "2a9757da.00a358",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://192.168.1.xxx/param_sensortag_poll.html",
        "tls": "",
        "proxy": "",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "f7d6af85.345c6",
                "d9fd79dd.8dd0c"
            ]
        ]
    },
    {
        "id": "44aa7a87.723cac",
        "type": "inject",
        "z": "2a9757da.00a358",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "5980bd4a.72497c"
            ]
        ]
    },
    {
        "id": "3effa246.2a9b76",
        "type": "debug",
        "z": "2a9757da.00a358",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "39734624.9e327a",
        "type": "function",
        "z": "2a9757da.00a358",
        "name": "Extract SensorTag data",
        "func": "var sensortagdata = msg.payload.split(/\\r?\\n/);\nvar temperature = -1;\nvar lux = -1;\nvar bar ;\nvar hum ;\nvar gyr = {};\nvar acc = {};\nvar mag = {};\n\nfor( i=0; i < sensortagdata.length; i++ ) {\n    if( sensortagdata[i].indexOf(\"tmp\") >=0 ) {\n        // Get the Temperature\n        // \"<p id=\"tmp\">09C8 1170 19.56 34.88</p>\"\n        // Grab the 4th substring\n        var t = sensortagdata[i].split(\" \");\n        //temperature = parseInt( t[4].substring(0,4) );\n        temperature = parseFloat( t[4] );\n    } else if (sensortagdata[i].indexOf(\"hum\") >=0 ) {\n        // Get the humidity\n        //  <p id=\"hum\">57D8 7558 34.31 35.63</p>\n        // Grab the 4th substring\n        var h = sensortagdata[i].split(\" \");\n        hum = parseFloat( h[4] );\n    } else if (sensortagdata[i].indexOf(\"opt\") >=0 ) {\n        // Get the Light lux\n        // <p id=\"opt\">2E9B 149.56</p>\n        // Grab the 3nd substring\n        var l = sensortagdata[i].split(\" \");\n        var n = l[2].indexOf(\"<\");\n        lux = parseInt( l[2].substring(0,n-1) );\n    } else if (sensortagdata[i].indexOf(\"gyr\") >=0 ) {\n        // Get the gyroscope data\n        // <p id=\"gyr\">FEFE 000C FFA1 -1.97 0.09 -0.73</p>\n        var g = sensortagdata[i].split(\" \");\n        gyr.x = parseFloat( g[4] );\n        gyr.y = parseFloat( g[5] );\n        gyr.z = parseFloat( g[6] );\n    } else if (sensortagdata[i].indexOf(\"acc\") >=0 ) {\n        // Get the Accelerometer data\n        // <p id=\"acc\">000C 0144 EEED 0.00 0.08 -1.07</p>\n        var a = sensortagdata[i].split(\" \");\n        acc.x = parseFloat( a[4] );\n        acc.y = parseFloat( a[5] );\n        acc.z = parseFloat( a[6] );\n    } else if (sensortagdata[i].indexOf(\"mag\") >=0 ) {\n        // Get the magnetometer data\n        // <p id=\"mag\">FF14 FFD7 FDB2 -236 -41 -590</p>\n        var m = sensortagdata[i].split(\" \");\n        mag.x = parseFloat( m[4] );\n        mag.y = parseFloat( m[5] );\n        mag.z = parseFloat( m[6] );\n    } else if (sensortagdata[i].indexOf(\"bar\") >=0 ) {\n        // Get the Barometer data\n        // <p id=\"bar\">564860 86B200 36.10 1016.34</p>\n        // Grab the 5th substring\n        var b = sensortagdata[i].split(\" \");\n        bar = parseFloat( b[4] );\n    }\n}\nmsg.payload = { \"temperature\": temperature, \n                \"lux\"        : lux,\n                \"humidity\"   : hum,\n                \"barometer\"  : bar,\n                \"gyroscope\"  : gyr,\n                \"accelometer\" : acc,\n                \"magnetometer\": mag\n} ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "3effa246.2a9b76",
                "4cd35186.d23008",
                "c0e83223.d815e",
                "332a03f5.08e634"
            ]
        ]
    },
    {
        "id": "64086ba7.aac58c",
        "type": "comment",
        "z": "2a9757da.00a358",
        "name": "http://192.168.1.x/sensortag.html",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "c5ef53c.21151b",
        "type": "comment",
        "z": "2a9757da.00a358",
        "name": "http://192.168.1.x/param_sensortag_poll.html",
        "info": "",
        "x": 190,
        "y": 100,
        "wires": []
    },
    {
        "id": "f7d6af85.345c6",
        "type": "debug",
        "z": "2a9757da.00a358",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "4cd35186.d23008",
        "type": "switch",
        "z": "2a9757da.00a358",
        "name": "Lights on?",
        "property": "payload.lux",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "11529d8e.9b8682"
            ],
            [
                "9dbfce0c.813c8"
            ]
        ]
    },
    {
        "id": "11529d8e.9b8682",
        "type": "switch",
        "z": "2a9757da.00a358",
        "name": "What's the temp",
        "property": "payload.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "settemp",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "54511011.7fa668"
            ],
            [
                "9dbfce0c.813c8"
            ]
        ]
    },
    {
        "id": "4736031.06240fc",
        "type": "comment",
        "z": "2a9757da.00a358",
        "name": "Light is on, temp is cool",
        "info": "",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "201aa5fe.f9bac2",
        "type": "debug",
        "z": "2a9757da.00a358",
        "name": "Heater Status",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1020,
        "y": 360,
        "wires": []
    },
    {
        "id": "c1053a96.7f99d8",
        "type": "smartplug-out",
        "z": "2a9757da.00a358",
        "name": "",
        "topic": "",
        "device": "3d0507df.842c58",
        "response": true,
        "x": 1030,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9dbfce0c.813c8",
        "type": "change",
        "z": "2a9757da.00a358",
        "name": "Heat Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "c1053a96.7f99d8",
                "201aa5fe.f9bac2"
            ]
        ]
    },
    {
        "id": "54511011.7fa668",
        "type": "change",
        "z": "2a9757da.00a358",
        "name": "Heat On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 360,
        "wires": [
            [
                "c1053a96.7f99d8",
                "201aa5fe.f9bac2"
            ]
        ]
    },
    {
        "id": "8f3610f8.e13dc",
        "type": "inject",
        "z": "2a9757da.00a358",
        "name": "Override",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "9dbfce0c.813c8"
            ]
        ]
    },
    {
        "id": "232efc19.94d184",
        "type": "smartplug-in",
        "z": "76259739.2b009",
        "name": "",
        "topic": "",
        "device": "3d0507df.842c58",
        "interval": "10000",
        "deviceinfo": true,
        "schedule": true,
        "status": {
            "text": "connected",
            "fill": "green",
            "shape": "dot"
        },
        "cost": true,
        "costFactor": 0.2,
        "costUnit": "$",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "ea34cb47.e7527",
                "770323b5.2d313c",
                "9867d0e3.ffdd8"
            ]
        ]
    },
    {
        "id": "1807c7e1.fde698",
        "type": "smartplug-out",
        "z": "76259739.2b009",
        "name": "",
        "topic": "",
        "device": "3d0507df.842c58",
        "response": true,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "1aa6c9e6.6ca4a6"
            ]
        ]
    },
    {
        "id": "ea34cb47.e7527",
        "type": "debug",
        "z": "76259739.2b009",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 310,
        "y": 60,
        "wires": []
    },
    {
        "id": "2cce57a.528f5a8",
        "type": "inject",
        "z": "76259739.2b009",
        "name": "On",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "1807c7e1.fde698"
            ]
        ]
    },
    {
        "id": "79999de0.3dcea4",
        "type": "inject",
        "z": "76259739.2b009",
        "name": "Off",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "1807c7e1.fde698"
            ]
        ]
    },
    {
        "id": "b4112037.b56f88",
        "type": "ui_switch",
        "z": "76259739.2b009",
        "name": "",
        "label": "On/Off",
        "group": "1b227b5c.bfe23d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "1807c7e1.fde698"
            ]
        ]
    },
    {
        "id": "29b26dcf.3afeda",
        "type": "ui_chart",
        "z": "76259739.2b009",
        "name": "",
        "group": "f809ef74.a1c1b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Power Consumption",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 560,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9867d0e3.ffdd8",
        "type": "change",
        "z": "76259739.2b009",
        "name": "Extract Current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.nowCurrent",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Current (A)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "6a72fb4a.7002f4",
                "bf331ae8.7acd08"
            ]
        ]
    },
    {
        "id": "770323b5.2d313c",
        "type": "change",
        "z": "76259739.2b009",
        "name": "Extract Power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status.nowPower",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Power (W)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "29b26dcf.3afeda"
            ]
        ]
    },
    {
        "id": "6a72fb4a.7002f4",
        "type": "ui_chart",
        "z": "76259739.2b009",
        "name": "",
        "group": "80f4c6a4.b4b338",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Current Usage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "18",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 540,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bf331ae8.7acd08",
        "type": "ui_gauge",
        "z": "76259739.2b009",
        "name": "",
        "group": "80f4c6a4.b4b338",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current (A)",
        "label": "Amps",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "2f2eca1c.c83496",
        "type": "comment",
        "z": "76259739.2b009",
        "name": "How To",
        "info": "username is admin\npassword is 1234\n\nInstall the Android/iOS app \nhttps://play.google.com/store/apps/details?id=com.edimax.smartplugin&hl=en\n\n$28 EdiMax WiFi enabled smartplug :\nhttp://www.edimax.com/edimax/merchandise/merchandise_detail/data/edimax/global/home_automation_smart_plug/sp-2101w/\n\nNode package that allows it to be discovered and controlled over WiFi\nhttps://github.com/mwittig/edimax-smartplug\n\nNode-RED node that can be integrated into our flows.\nhttps://flows.nodered.org/node/node-red-contrib-smartplug ",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "1aa6c9e6.6ca4a6",
        "type": "debug",
        "z": "76259739.2b009",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "d9fd79dd.8dd0c",
        "type": "switch",
        "z": "2a9757da.00a358",
        "name": "Fail on Error",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Error: connect EHOSTUNREACH ",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 490,
        "y": 160,
        "wires": [
            [],
            [
                "39734624.9e327a"
            ]
        ]
    },
    {
        "id": "c0e83223.d815e",
        "type": "change",
        "z": "2a9757da.00a358",
        "name": "SensorTag Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "f659bd43.4365a",
                "802cc3da.8124"
            ]
        ]
    },
    {
        "id": "f659bd43.4365a",
        "type": "ui_text",
        "z": "2a9757da.00a358",
        "group": "1b227b5c.bfe23d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "3e43f0c4.5e96e8",
        "type": "ui_slider",
        "z": "2a9757da.00a358",
        "name": "",
        "label": "Set Temp",
        "group": "1b227b5c.bfe23d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": "25",
        "max": "40",
        "step": 1,
        "x": 500,
        "y": 580,
        "wires": [
            [
                "a3571bf7.6401f8",
                "88f6c605.e1b608",
                "1d26e22a.08ac86"
            ]
        ]
    },
    {
        "id": "a3571bf7.6401f8",
        "type": "debug",
        "z": "2a9757da.00a358",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "88f6c605.e1b608",
        "type": "change",
        "z": "2a9757da.00a358",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d9b7b1be.0bd48",
        "type": "change",
        "z": "2a9757da.00a358",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "31",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 580,
        "wires": [
            [
                "3e43f0c4.5e96e8"
            ]
        ]
    },
    {
        "id": "51ee8750.4cf26",
        "type": "inject",
        "z": "2a9757da.00a358",
        "name": "Startup",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "d9b7b1be.0bd48"
            ]
        ]
    },
    {
        "id": "1d26e22a.08ac86",
        "type": "ui_text",
        "z": "2a9757da.00a358",
        "group": "1b227b5c.bfe23d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Thermostat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 620,
        "wires": []
    },
    {
        "id": "332a03f5.08e634",
        "type": "change",
        "z": "2a9757da.00a358",
        "name": "SensorTag Lux",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lux",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "2af2affc.c82028"
            ]
        ]
    },
    {
        "id": "2af2affc.c82028",
        "type": "ui_text",
        "z": "2a9757da.00a358",
        "group": "1b227b5c.bfe23d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "802cc3da.8124",
        "type": "ui_chart",
        "z": "2a9757da.00a358",
        "name": "",
        "group": "f809ef74.a1c1b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 660,
        "y": 280,
        "wires": [
            [],
            []
        ]
    }
]
