flow.json
[{"id":"694284c9.a490e4","type":"tab","label":"SensorTag WiFi","disabled":false,"info":""},{"id":"2ac525a1.998f3a","type":"tab","label":"SmartPlug","disabled":false,"info":""},{"id":"d0d5d7b1.f30f78","type":"smartplug-device","z":"","name":"","host":"192.168.1.43","timeout":"10","heartbeat":"5"},{"id":"5889ad7e.0d5a94","type":"smartplug-device","z":"","name":"","host":"192.168.1.43","timeout":"10","heartbeat":"5"},{"id":"ed080046.83c168","type":"ui_group","z":"","name":"SmartPlug Switch","tab":"11fb2723.6a6069","order":1,"disp":true,"width":"4"},{"id":"d47b441c.a9f958","type":"ui_group","z":"","name":"SmartPlug Power Usage Chart","tab":"11fb2723.6a6069","order":2,"disp":true,"width":"8"},{"id":"f8304b9f.0907e","type":"ui_group","z":"","name":"SmartPlug Current Usage Chart","tab":"11fb2723.6a6069","order":3,"disp":true,"width":"8"},{"id":"11fb2723.6a6069","type":"ui_tab","z":"","name":"SmartPlug","icon":"dashboard","order":1},{"id":"ca72650e.7336e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"483d12ff.7242dc","type":"http request","z":"694284c9.a490e4","name":"","method":"GET","ret":"txt","url":"http://192.168.1.44/param_sensortag_poll.html","tls":"","x":270,"y":160,"wires":[["9c5d4db3.59139","51f63234.e00854"]]},{"id":"e74aa1c6.11759","type":"inject","z":"694284c9.a490e4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"x":100,"y":160,"wires":[["483d12ff.7242dc"]]},{"id":"1e638c1a.c792d4","type":"debug","z":"694284c9.a490e4","name":"","active":true,"console":"false","complete":"false","x":770,"y":160,"wires":[]},{"id":"9c5d4db3.59139","type":"function","z":"694284c9.a490e4","name":"Extract SensorTag data","func":"var sensortagdata = msg.payload.split(/\\r?\\n/);\nvar temperature = -1;\nvar lux = -1;\nfor( i=0; i < sensortagdata.length; i++ ) {\n    if( sensortagdata[i].indexOf(\"tmp\") >=0 ) {\n        // Get the Temperature\n        // \"<p id=\"tmp\">09C8 1170 19.56 34.88</p>\"\n        // Grab the 4th substring\n        var t = sensortagdata[i].split(\" \");\n        temperature = parseInt( t[4].substring(0,4) );\n    } else if (sensortagdata[i].indexOf(\"opt\") >=0 ) {\n        // Get the Light lux\n        // <p id=\"opt\">2E9B 149.56</p>\n        // Grab the 4th substring\n        var l = sensortagdata[i].split(\" \");\n        var n = l[2].indexOf(\"<\");\n        lux = parseInt( l[2].substring(0,n-1) );\n    }\n}\nmsg.payload = { \"temperature\": temperature, \"lux\": lux} ;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["1e638c1a.c792d4","a9e0754c.88dd48"]]},{"id":"6f2f5e11.dc5f5","type":"comment","z":"694284c9.a490e4","name":"http://192.168.1.44/sensortag.html","info":"","x":170,"y":80,"wires":[]},{"id":"f7ccb8a0.7e1548","type":"comment","z":"694284c9.a490e4","name":"http://192.168.1.44/param_sensortag_poll.html","info":"","x":210,"y":120,"wires":[]},{"id":"51f63234.e00854","type":"debug","z":"694284c9.a490e4","name":"","active":false,"console":"false","complete":"false","x":490,"y":120,"wires":[]},{"id":"a9e0754c.88dd48","type":"switch","z":"694284c9.a490e4","name":"Lights on?","property":"payload.lux","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":180,"y":340,"wires":[["badd252e.254bf"],["11356f81.c4461"]]},{"id":"badd252e.254bf","type":"switch","z":"694284c9.a490e4","name":"What's the temp","property":"payload.temperature","propertyType":"msg","rules":[{"t":"lt","v":"35","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":400,"y":300,"wires":[["d4d017dc.3c881"],["11356f81.c4461"]]},{"id":"dad9760d.81c638","type":"comment","z":"694284c9.a490e4","name":"Light is on, temp is cool","info":"","x":740,"y":240,"wires":[]},{"id":"b7322707.739f58","type":"debug","z":"694284c9.a490e4","name":"Heater Status","active":true,"console":"false","complete":"payload","x":810,"y":300,"wires":[]},{"id":"444a7437.8a403c","type":"smartplug-out","z":"694284c9.a490e4","name":"","topic":"","device":"d0d5d7b1.f30f78","response":true,"x":830,"y":360,"wires":[[]]},{"id":"11356f81.c4461","type":"change","z":"694284c9.a490e4","name":"Heat Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[["444a7437.8a403c","b7322707.739f58"]]},{"id":"d4d017dc.3c881","type":"change","z":"694284c9.a490e4","name":"Heat On","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":300,"wires":[["444a7437.8a403c","b7322707.739f58"]]},{"id":"8487d1e9.1e4058","type":"inject","z":"694284c9.a490e4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":455.5,"y":426,"wires":[["11356f81.c4461"]]},{"id":"bf10acdb.de117","type":"smartplug-in","z":"2ac525a1.998f3a","name":"","topic":"","device":"5889ad7e.0d5a94","interval":"10000","deviceinfo":true,"schedule":true,"status":true,"cost":true,"costFactor":0.2,"costUnit":"$","x":120,"y":100,"wires":[["fc104771.803fd8","3b4032ff.bacf26","16c5a2c2.7b2b05"]]},{"id":"48207eb3.e7639","type":"smartplug-out","z":"2ac525a1.998f3a","name":"","topic":"","device":"5889ad7e.0d5a94","response":true,"x":330,"y":240,"wires":[["2cbf3ceb.256a94"]]},{"id":"fc104771.803fd8","type":"debug","z":"2ac525a1.998f3a","name":"","active":true,"console":"false","complete":"false","x":310,"y":60,"wires":[]},{"id":"4d628743.daebd","type":"inject","z":"2ac525a1.998f3a","name":"On","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":110,"y":200,"wires":[["48207eb3.e7639"]]},{"id":"87cfcaa.846bd38","type":"inject","z":"2ac525a1.998f3a","name":"Off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["48207eb3.e7639"]]},{"id":"595a420c.64c86c","type":"ui_switch","z":"2ac525a1.998f3a","name":"","label":"On/Off","group":"ed080046.83c168","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":280,"wires":[["48207eb3.e7639"]]},{"id":"879cf755.b70b28","type":"ui_chart","z":"2ac525a1.998f3a","name":"","group":"d47b441c.a9f958","order":0,"width":0,"height":0,"label":"Power Consumption","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":550,"y":100,"wires":[[],[]]},{"id":"16c5a2c2.7b2b05","type":"change","z":"2ac525a1.998f3a","name":"Extract Current","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status.nowCurrent","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Current (A)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["4754dc41.41cbdc","8e092ce3.fd1938"]]},{"id":"3b4032ff.bacf26","type":"change","z":"2ac525a1.998f3a","name":"Extract Power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status.nowPower","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Power (W)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":100,"wires":[["879cf755.b70b28"]]},{"id":"4754dc41.41cbdc","type":"ui_chart","z":"2ac525a1.998f3a","name":"","group":"f8304b9f.0907e","order":0,"width":0,"height":0,"label":"Current Usage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":140,"wires":[[],[]]},{"id":"8e092ce3.fd1938","type":"ui_gauge","z":"2ac525a1.998f3a","name":"","group":"f8304b9f.0907e","order":0,"width":0,"height":0,"gtype":"gage","title":"Current (A)","label":"Amps","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":180,"wires":[]},{"id":"2997c391.6fd6cc","type":"comment","z":"2ac525a1.998f3a","name":"How To","info":"username is admin\n\nInstall the Android/iOS app \nhttps://play.google.com/store/apps/details?id=com.edimax.smartplugin&hl=en\n\n$28 EdiMax WiFi enabled smartplug :\nhttp://www.edimax.com/edimax/merchandise/merchandise_detail/data/edimax/global/home_automation_smart_plug/sp-2101w/\n\nNode package that allows it to be discovered and controlled over WiFi\nhttps://github.com/mwittig/edimax-smartplug\n\nNode-RED node that can be integrated into our flows.\nhttps://flows.nodered.org/node/node-red-contrib-smartplug ","x":90,"y":40,"wires":[]},{"id":"2cbf3ceb.256a94","type":"debug","z":"2ac525a1.998f3a","name":"","active":true,"console":"false","complete":"false","x":540,"y":240,"wires":[]}]